<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Foto's delen!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/app/app.css') }}">

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    {%  if is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPERADMIN')%}
       {{ include ('admin/_admin_menu.html.twig') }}
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <a class="btn btn-primary pull-right" href="{{ path('home') }}" title="home"><i class="fa fa-home" aria-hidden="true"></i>
                             HOME</a>
                </div>
            </div>
        </div>
    {% endif %}
</header>
<div class="main-content">
    <div class="container">
        {% for msg in app.session.flashBag.get('success') %}
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <br>
                    <div class="alert alert-success">{{ msg }}</div>
                </div>
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('error') %}
            <div class="row">
                <br>
                <div class="col-xs-12 col-sm-1- col-sm-offset-1">
                    <div class="alert alert-danger">{{ msg }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% block body %}

    {% endblock %}

</div>
{% block javascripts %}
    {#<script src="{{ asset('js/main.js') }}"></script>#}
    <script src="https://use.fontawesome.com/0ec60d3fcd.js"></script>
    <script src="https://api.filestackapi.com/filestack.js"></script>
    <script type="text/javascript">
        filepicker.setKey("ATJ1Qh2TbRWKx2OjH83gsz");
        filepicker.pick(picker_options, onSuccess(Blob){}, onError(FPError){}, onProgress(FPProgress){});
    </script>
{% endblock %}
</body>
</html>
