<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Foto's delen!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('https://use.fontawesome.com/0ec60d3fcd.js') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<header>
    {%  if is_granted('ROLE_ADMIN') or is_granted ('ROLE_SUPERADMIN')%}
       {{ include ('admin/_admin_menu.html.twig') }}
    {% endif %}
</header>
<div class="main-content">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ msg }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
