{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    <h1>Mappen</h1>
                    <p>Hieronder een overizht van alle mappen. </p>

                    <table class="table table-striped not-centered">
                        <tr>
                            <th>Id</th>
                            <th>Map</th>
                            <th>Aantal foto's</th>
                            <th>Toegevoegd door</th>
                            <th>Bekijk/Bewerk/Verwijder</th>
                        </tr>
                        {% for folder in folders %}
                            <tr>
                                <td>{{ folder.id }}</td>
                                <td>{{ folder.title }}</td>
                                <td>{{ folder.photos.count }} foto's</td>
                                <td>{% if folder.user %}
                                        {{ folder.user.username }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('folder_show', {'folderId': folder.id }) }}" class="admin-list-action" title="bekijk">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('add_photo') }}" class="admin-list-action" title="Voeg een foto toe" >
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                    </a>
                                    {%  if is_granted('edit', folder) %}
                                        <a href="{{ path('edit_folder', { 'folder': folder.id }) }}" class="admin-list-action" title="bewerk">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('delete', folder) %}
                                        <a href="{{ path('delete_folder', { 'folder': folder.id}) }}"
                                           onclick="return confirm('Weet je het zeker? Alle foto\'s in dit mapje zullen ook verwijderd worden!)"
                                           class="admin-list-action">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}