{% extends 'base.html.twig' %}
{% use "form_div_layout.html.twig" %}
{% block body %}
   <div class="welcome">
   <div class="text-center">
   <h1>Voeg hier een foto toe</h1>
   </div>
   {{ form_start(form) }}
   {{ form_row(form.title, {
      'label': 'Titel'
   }) }}
   {{ form_row(form.description, {
      'label': 'Beschrijving'
   }) }}
   {{ form_row(form.file, {
      'label': 'Selecteer een bestand'
   }) }}
   {{ form_row(form.folder, {
      'label': 'Kies een mapje'
   }) }}
   <button type="submit" class="btn btn-primary" formnovalidate>Voeg toe/button>
   {{ form_end(form) }}
   </div>
{% endblock %}