{% extends 'base.html.twig' %}
{% use "form_div_layout.html.twig" %}
{% block body %}
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="content-block">
               <h2>Voeg een foto toe</h2>
               <p>Voeg een foto toe en geef een leuke beschrijving voor Ger en Theo. </p>
               </div>
            <div class="content-block">
               <div class="form">
                  {{ form_start(form) }}
                  {{ form_row(form.title, {
                     'label': 'Titel'
                  }) }}
                  {{ form_row(form.description, {
                     'label': 'Beschrijving'
                  }) }}
                  {{ form_row(form.file, {
                     'label': 'Selecteer een bestand'
                  }) }}
                  {{ form_row(form.folder, {
                     'label': 'Kies een mapje'
                  }) }}
                  <button type="submit" class="btn btn-primary" formnovalidate>Voeg toe</button>
                  {{ form_end(form) }}
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}