{% extends 'base.html.twig' %}
{% block body %}

   {#{{ dump(pagination) }}#}


   <div class="text-center">
      <h1>{{ folder.title }}</h1>
      <h3>{{ folder.description }}</h3>
      <div class="container">
         <div class="row">
            {% for photo in photos %}
               <div class="col-md-2 col-xs-3">
                  <div class="preview-photo" >
                     <a href="{{ path('folder_photo_show', {'folderId': folder.id, 'photo': loop.index }) }}"><img src="/uploads/photos/{{ photo.file }}" alt="" height="150px" width="150px" ></a>
                     {{ photo.title }}
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>


{% endblock %}