{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for photo in photos %}
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="content-block">
                        <p class="pull-right">Je bekijkt nu: <b>{{ folder.title }} </b></p>
                        <img src="{{ photo.file }}" alt="" width="100%" > <br> <br>
                        <b>{{ photo.title }}</b> <br>
                        <p>{{ photo.description }}</p> <br>
                        {{ knp_pagination_render(photos) }}
                    </div>
                </div>
            {% endfor %}

            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="content-block">
                    {% for photo in photos %}
                        {%  if is_granted('edit', photo) %}
                            <a href="{{ path('edit_photo', { 'photo': photo.id }) }}" class="btn btn-primary">Bewerk </a>
                        {% endif %}
                        {% if is_granted('delete', photo) %}
                            <a href="{{ path('delete_photo', { 'photo': photo.id}) }}"
                               onclick="return confirm('Weet je het zeker? deze foto zal verwijderd worden!)"
                               class="btn btn-danger">Verwijder</a>
                        {% endif %} <br>
                    {% endfor %}
                    <a href="{{ path('folder_show', {'folderId': folder.id }) }}" class="btn btn-primary">Terug naar alle foto's uit deze map</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}