{% extends 'base.html.twig' %}
    {%  block admin %}
    {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for photo in photos %}
                <div class="col-xs-12">
                        <span class="links pull-left">
                                <i class="fa fa-camera"></i>
                             /{{ folder.title }}/{{ photo.title | default('geen titel') }}
                        </span>
                            {%  if is_granted('edit', photo) %}
                                <span class="links pull-right">
                                    <a href="{{ path('edit_photo', { 'photo': photo.id }) }}">
                                        <i class="fa fa-pencil"></i>/Bewerk
                                    </a>
                                </span>
                            {% endif %}
                            {% if is_granted('delete', photo) %}
                                <span class="links pull-right">
                                    <a href="{{ path('delete_photo', { 'photo': photo.id}) }}"
                                       onclick="return confirm('Weet je het zeker? deze foto zal verwijderd worden!')">
                                        <i class="fa fa-trash"></i>/Verwijder
                                    </a>
                                </span>
                            {% endif %}
                        <span class="links pull-right">
                             <a href="{{ path('home') }}">
                                   <i class="fa fa-home"></i>/home
                             </a>
                        </span>
                        <span class=" links pull-right">
                            <a href="{{ path('folder_show', {'folderId': folder.id }) }}">
                                <i class="fa fa-folder"></i> /{{ folder.title }}
                            </a>
                        </span>
                </div>
                <div class="col-xs-12">
                    <div class="content-block">
                        <div class="photo-view">
                        <span class="custom-previous">
                            {{ knp_pagination_render(photos, 'templates/pagination_previous.html.twig') }}
                        </span>
                            <span>
                                 <img src="{{ photo.file }}" alt="" width="100%" >
                            </span>
                        <span class="custom-next">
                            {{ knp_pagination_render(photos, 'templates/pagination_next.html.twig') }}
                        </span>
                        </div>
                        {{ knp_pagination_render(photos, 'templates/pagination.html.twig') }}
                    </div>
                </div>
             {% endfor %}


                <div class="col-xs-12">
                    <div class="content-block">
                        {% for photo in photos %}
                            <b>{{ photo.title }}</b>
                            <p>{{ photo.description }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


